
<mat-toolbar >
  <span routerLink="/" id='NameWeb'></span>
  <div id=navBtns>
    <div style="display:inline-block;">
      <button class="btn" mat-button  [matMenuTriggerFor]="myedge">My Edge</button>
      <mat-menu #myedge="matMenu"  >
          <button mat-menu-item class="dropBtn">Home</button>
          <button routerLink="/mycart" mat-menu-item class="dropBtn">My Cart</button>
          <button mat-menu-item class="dropBtn">Menu</button>
      </mat-menu>

      <button routerLink="/products" class="btn" mat-button  [matMenuTriggerFor]="items">Products</button>
      <mat-menu #items="matMenu">
        <button mat-menu-item class="dropBtn" >Food Additives</button>
        <button mat-menu-item class="dropBtn" >Equipment</button>
        <button mat-menu-item class="dropBtn" >Sport Clothes</button>
      </mat-menu>

      <button routerLink="/contact" class="btn" mat-button>Contact</button>
      <button routerLink="/about" class="btn" mat-button>About</button>
      <button routerLink="/users" class="btn" mat-button>Users List</button>

    </div>
    <span class="userSection">
      <div *ngIf="!userIsAuthenticated">
        <button routerLink="/login" class="btn" mat-button>Login</button>
        <button routerLink="/signup" class="btn" mat-button>Sign Up</button>
      </div>
      <div>
        <button *ngIf="userIsAuthenticated" routerLink="/myprofile" class="btn" mat-button>My Profile</button>
        <button *ngIf="userIsAuthenticated" (click)="onLogout()" class="btn" mat-button>Log Out</button>
      </div>
    </span>

  </div>

  </mat-toolbar>

