
.productsList{
  Margin: auto;
  Padding: 10px;
}

table{
    width: 100%;
    background: rgba(255,255,255,0);
}

.productsListHeader{
    width: 100%;
    background: rgba(13, 3, 156, 0.65);
    text-align: center;
    color: white;
    font: 18px arial, sans-serif;
}

