main {
  margin: 5% auto;
  width: 80%;

 /* background-color: rgba(238, 240, 245, 0.733);
  border-radius: 5%;
*/
}

body{
  /*background-image: url('./media/barbell-building-challenge.jpg');*/
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;


}
