<div *ngIf="isAdmin" style="padding-bottom: 1%" >
  <button color="primary" mat-raised-button routerLink="/createPost">Create a new post</button>
</div>


<mat-accordion multi='true' *ngIf='posts.length > 0'>
  <mat-expansion-panel *ngFor='let post of posts'>
    <mat-expansion-panel-header>
      {{ post.title }}
    </mat-expansion-panel-header>
    <p>
      {{ post.content }}
    </p>
    <div *ngIf="isAdmin" style="padding-bottom: 1%" >
      <div class="btn">
          <button color="info" mat-raised-button (click)="onEdit(post)">Edit</button>
      </div>
      <div class="btn">
          <button color="warn" mat-raised-button (click)="onDelete(post)">Delete</button>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<p class= 'info-text mat-body-2' *ngIf='posts.length == 0'>No posts added yet</p>
